html {
    font-size: 62.5%;
    /* cambiamos la medida del REM 
                        Antes 1rem=16px
                        Ahora 1rem=10px*/

}

/* Desde aca se estila todo lo que esta dentro del Header */
header {
    background-color: #283618;
    font-size: 5rem;
    height: 180px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
}


li {
    margin: 10px 10px 10px 10px;
}

body {
    background-color: #606c38;
}

p {
    font-size: 20px;
    height: 350px;
    color: white;
    margin-bottom: 60px;
    margin-top: 50px;

}


/* Aca se estila el Menu y Submenu */

/* Menu principal (inicio,ellas,ellos,nosotros,contacto */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


.menu li {
    display: inline-block;
    font-size: 30px;
    padding: 30px 30px;

}


.menu li ul {
    display: none;
    position: absolute;
    z-index: 1;
    left: 37%;
}



.subMenu li {
    background-color: rgb(84, 85, 84);
    color: white;
    display: block;
    padding: 1px 1px;
}



ul {
    list-style-type: none;
    color: gray;
    font-size: 5px;

}

.menu li:hover .subMenu {
    display:block;


}

/* Aca estilamos las imagenes de los productos */

.contenedorFotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.fotoproducto {
    width: 500px;
    height: 600px;

    padding: 10px;

    margin: 30px 40px 30px 40px;
}

.fotos {
    text-align: center;
}

/* SE ESTILA LA PARTE DE CONTACTO */

.formulario {
    padding-left: 40%;
    font-size: 20px;
    align-items: flex-start;
    flex-direction: column;
}


footer {
    margin-top: 300px;
    background-color: #283618;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

h5 {
    font-size: 20px;
}

img {
    width: 60px;
}